/*import css*/
 @import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');
 @import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
 .header {
     font-size: 30px;
     font-family: 'Cedarville Cursive', cursive;
     width: 100%;
     height: 50px;
     display: flex;
     flex-direction: column;
     flex: 1;
}
 html body{
     box-sizing: border-box;
     font-family: 'PT Sans Narrow', sans-serif;
}
#searchForm{
  background-color: #f9f9f9;
  }
 .text-blue {
     color: #9dcfa0;
}

 .header a {
     margin: auto;
     text-decoration: none;
}
 .card {
     box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
     border-radius: 0 0 4px 4px;
     transition: 0.3s;
}
/*input style*/
 input {
     margin: 5% 0;
     box-sizing: border-box;
     background: url('search.png');
     background-repeat: no-repeat;
     background-position: 10px 10px;
     padding: 12px 20px 12px 40px;
     width: 100%;
     border-radius: 25px;
     border: solid 1px #e6e6e6;
}
 input:focus {
     outline-width: 0;
     width: 100%;
}
 #searchResults{
     display: flex;
     justify-content: center;
     background-color: #f9f9f9;
}
 .row {
     display: table;
     width: 80%;
}
 .column {
     width: 25%;
     display: inline-block;
     vertical-align: middle;
}
 img{
     width: 250px;
     object-fit:scale-down;
     height:250px;
     background-color: #fcfafa;
}
 @media only screen and (max-width: 600px) , (max-width: 400px) {
     .column {
         width: 100%;
         float: none;
         display:block;
         vertical-align: middle !important;
    }
     img{
         width: 100%;
    }
}
 .row >.column>.card {
     background-color: #fff;
     margin: 5px;
}
 .row >.column>.card:hover {
     box-shadow: 2px 1px 2px 1px rgba(0,0,0,.2);
     background-color: #fff;
}
 .button {
     border: none;
     outline: 0;
     display: inline-block;
     padding: 8px;
     color: white;
     background-color: #000;
     text-align: center;
     cursor: pointer;
     width: 100%;
}
 h3, p {
     text-align: center;
}
 .year {
     color: #e74c3c;
}
 .title {
     margin: 0;
     padding: 0 0 10px;
     color: #333333;
     font-size: 26px;
     font-weight: 300;
}
